# Build results
bin/
obj/
*.user
*.suo

# Test Results
TestResults/
Screenshots/
*.trx
*.html

# NuGet
*.nupkg
.nuget/
packages/

# Visual Studio
.vs/
*.vsidx
*.vspscc
*.vsscc

# Rider
.idea/

# Driver executables
chromedriver.exe
geckodriver.exe
msedgedriver.exe
